{% extends 'base.html' %}

{% block title %}Изменение категории{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center card-margin">
            <div class="col-6 card text-bg-dark card-padding card-padding-bottom">
                <form action="{% url 'category_edit' category.pk %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <h2>Изменение категории №{{ category.pk }}</h2>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Название категории</label>
                        <input type="text" id="category" name="category" class="form-control"
                               value="{{ category.category }}" >
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Введите описание категории</label>
                        <textarea id="description" name="description" rows="15" cols="53">{{ category.description }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary green">Изменить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}