{% extends 'base.html' %}

{% block title %}Изменение продукта{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center card-margin-product">
            <div class="col-6 card text-bg-dark card-padding card-padding-bottom">
                <form action="{% url 'product_edit' product.pk %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <h2>Изменение товара №{{ product.pk }}</h2>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Название товара</label>
                        <input type="text" id="name" name="name" class="form-control"
                               value="{{ product.name }}">
                    </div>
                    <div class="mb-3">
                        <label for="coast" class="form-label">Стоимость товара</label>
                        <input type="text" id="coast" name="coast" class="form-control"
                               value="{{ product.coast }}">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">URL картинки товара</label>
                        <input type="text" id="image" name="image" class="form-control"
                               value="{{ product.image }}">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Выберите категорию</label>
                        <select name="category" id="category" class="form-select">
                            {% for category in categories %}
                                <option value="{{ category.category }}">{{ category.category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Введите описание товара</label>
                        <textarea id="description" name="description" rows="10"
                                  cols="53">{{ product.description }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary green">Изменить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}